language: java

env:
  global:
    - MAVEN_OPTS="-Xmx256M"
    - MAVEN_SKIP_CHECKS_AND_DOCS="-Dair.check.skip-all=true -Dmaven.javadoc.skip=true"
  matrix:
    - TEST_MODULES=!presto-tests,!presto-kafka,!presto-redis,!presto-cassandra,!presto-raptor,!presto-postgresql,!presto-mysql
    - TEST_MODULES=presto-tests
    - TEST_MODULES=presto-raptor,presto-redis,presto-cassandra,presto-kafka,presto-postgresql,presto-mysql
    - PRODUCT_TESTS=true
    - INTEGRATION_TESTS=true

sudo: required
dist: trusty

addons:
  apt:
    packages:
      - oracle-java8-installer

services:
  - docker

before_install:
  # This section can be removed once travis get equipped with docker 1.10 and docker-compose 1.6
  - |
    if [ -v PRODUCT_TESTS ] || [ -v INTEGRATION_TESTS ]; then
      sudo apt-get update
      sudo apt-get -o "Dpkg::Options::=--force-confold" -y install docker-engine
      sudo rm /usr/local/bin/docker-compose
      curl -L https://github.com/docker/compose/releases/download/1.7.1/docker-compose-`uname -s`-`uname -m` > docker-compose
      chmod +x docker-compose
      sudo mv docker-compose /usr/local/bin
    fi

install: ./mvnw install -DskipTests $MAVEN_SKIP_CHECKS_AND_DOCS -B -q -T C1 -pl '!presto-docs,!presto-server-rpm'

script:
  - |
    if [ -v TEST_MODULES ]; then
      ./mvnw test $MAVEN_SKIP_CHECKS_AND_DOCS -B -pl $TEST_MODULES;
    fi
  - |
    if [ -v PRODUCT_TESTS ]; then
      presto-product-tests/bin/run_on_docker.sh \
        singlenode -x quarantine,big_query,storage_formats,mysql_connector,postgresql_connector,profile_specific_tests
    fi
  - |
    if [ -v PRODUCT_TESTS ]; then
      presto-product-tests/bin/run_on_docker.sh \
        singlenode-kerberos-hdfs-impersonation -g storage_formats,cli,hdfs_impersonation,authorization
    fi
  - |
    if [ -v INTEGRATION_TESTS ]; then
      presto-hive-hadoop2/bin/run_on_docker.sh
    fi
  - |
    test ! -v INTEGRATION_TESTS ||
      ./mvnw install -DskipTests -B
  - |
    # Build presto-server-rpm for later artifact upload
    test ! -v DEPLOY_S3_ACCESS_KEY || test ! -v PRODUCT_TESTS ||
       ./mvnw install -DskipTests $MAVEN_SKIP_CHECKS_AND_DOCS -B -q -T C1 -pl presto-server-rpm


notifications:
  slack:
    secure: V5eyoGShxFoCcYJcp858vf/T6gC9KeMxL0C1EElcpZRcKBrIVZzvhek3HLHxZOxlghqnvNVsyDtU3u5orkEaAXeXj5c2dN+4XBsAB9oeN5MtQ0Z3VLAhZDqKIW1LzcXrq4DpzM0PkGhjfjum/P94/qFYk0UckPtB6a341AuYRo8=

before_deploy:
  - mkdir /tmp/artifacts
  - cp -n presto-server/target/presto-server-*.tar.gz /tmp/artifacts
  - cp -n presto-server-rpm/target/presto-server-rpm-*.x86_64.rpm /tmp/artifacts
  - cp -n presto-product-tests/target/presto-product-tests-*-executable.jar /tmp/artifacts
  - cp -n presto-jdbc/target/presto-jdbc-*.jar /tmp/artifacts
  - cp -n presto-cli/target/presto-cli-*-executable.jar /tmp/artifacts
  - ls -lah /tmp/artifacts

deploy:
  on:
    all_branches: true
    condition: -v DEPLOY_S3_ACCESS_KEY && -v PRODUCT_TESTS
  provider: s3
  access_key_id: ${DEPLOY_S3_ACCESS_KEY}
  secret_access_key: ${DEPLOY_S3_SECRET_KEY}
  bucket: ${DEPLOY_S3_BUCKET}
  skip_cleanup: true
  local-dir: /tmp/artifacts
  upload-dir: travis_build_artifacts/${TRAVIS_REPO_SLUG}/${TRAVIS_BRANCH}/${TRAVIS_JOB_NUMBER}
  acl: public_read
